/*angezeigte Seiten im Iframe*/		
		
		{
		background-color:transparent;
		allowtransparency: true;
		}
		

/*seitendesign*/
		.schriftgesamt { font-family: Arial, Verdana, sans-serif; font-size:10 }
		.ueberschrift { font-family: Arial, Verdana, sans-serif; font-size:16; text-align:left; font-weight:bold }
		.tabelleinhalt { font-family: Arial, Verdana, sans-serif; font-size:12; text-align:left; }
		
		A
		{
		color:000000;
		text-decoration:none;
		font-size:12;
		background-color:transparent;
		}
		
/*	farbcode für frame background!!!!!!!!	
		background-color:cce6ef;
*/		
/*tabellendesign stundenplan*/		
		.stpgerade {background-color:ffff99; border-collapse:collapse; border:1px solid #000000}		
		.stpungerade  {background-color:#b2cce5; border-collapse:collapse; border:1px solid #000000}
		.mo { background-color:#ffff99; border-collapse:collapse; border:1px solid #000000 } 
		.di { background-color:#b2cce5; border-collapse:collapse; border:1px solid #000000 } 
		.mi { background-color:#ffff99; border-collapse:collapse; border:1px solid #000000 } 
		.do { background-color:#b2cce5; border-collapse:collapse; border:1px solid #000000 } 
		.fr { background-color:#ffff99; border-collapse:collapse; border:1px solid #000000 } 
		.pause { background-color:#b2cce5; width:100; height:10; border-collapse:collapse; border:1px solid #000000 } 
		.aenderung { background-color:#336699; border-collapse:collapse; border:1px solid #000000 } 	
		.zeiten { background-color:#b2cce5; border-collapse:collapse; border:1px solid #000000 }
		.stdplantab { border-collapse:collapse; border-right:3px solid #000000; border-left:3px solid #000000; border-top:3px solid #000000; border-bottom:3px solid #000000; }	
/*tabellendesign*/
		.gerade {background-color:transparent}		
		.ungerade  {background-color:transparent}	
		 
		.woplantage { text-align:center; width:20%; font-family: Arial, Verdana, sans-serif; font-size:16; font-weight:bold  }
				
/*schriftdesign*/			
		.schriftlehrer { font-family: Arial, Verdana, sans-serif; font-size:11; text-align:left }
		.schriftfach { font-family: Arial, Verdana, sans-serif; font-size:12; font-weight:bold; text-align:left  }
		.schriftraum { font-family: Arial, Verdana, sans-serif; font-size:12; text-align:left }		
		.schrifttag { font-family: Arial, Verdana, sans-serif; font-size:14; font-weight:bold; text-align:center }
		.schriftzeit { font-family: Arial, Verdana, sans-serif; font-size:14; text-align:center; padding-bottom:30px }
		.schriftdatum  { font-family: Arial, Verdana, sans-serif; font-size:12; text-align:center }
		.schriftdatumoben  { font-family: Arial, Verdana, sans-serif; font-size:20; font-weight:bold; text-align:center }
